<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="description" content="Pagina cu filmele care ruleaza in cinematografele noastre.">
    <meta name="keywords" content="Filme, bilete, preturi, promotii">
    <title>Cinematograful SiNehMah - Filme</title>
    <%- include("../fragmente/head") %>



</head>

<body>
    <%- include("../fragmente/header") %>


        <main>
            <section>
                <h2>403 Forbidden</h2>
                <h3>S-a produs o extorsiune a unui degajament!!!</h3>
                <img src="resurse/imagini/popcorn404.jpg" width=400px>
            </section>
        </main>

        <%- include("../fragmente/footer") %>

</body>

</html>