<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="description" content="Pagina cu filmele care ruleaza in cinematografele noastre.">
    <meta name="keywords" content="Filme, bilete, preturi, promotii">
    <title>Cinematograful SiNehMah - Filme</title>
    <%- include("../fragmente/head") %>


</head>

<body>
    <%- include("../fragmente/header") %>


        <main>
            <section>
                <h2>Despre noi</h2>
                <p>Cinematograf sau sală de cinema, este un loc destinat în exclusivitate proiecției cinematografice.

                    Sala trebuie să îndeplinească o serie de condiții pentru asigurarea unei vizibilități optime a spectacolului cinematografic, o bună acustică arhitecturală, confort și securitate pentru publicul spectator. Parametrii tehnici și constructivi sunt legați și de sistemul de cinema: prezentare de filme pe format normal ( sălile până la apariția formatelor late), prezentare de filme pe format ecran lat (cinemascop), prezentare de film pe format ecran lat (panoramic) sau de format special (cinerama, cinemiracle, kinopanorama, circorama, poliecran, lanternă magică).
                    
                    De asemenea, mai pot fi considerate săli de cinema și sălile amenajate parțial, dotate cu aparatură fixă sau portabilă, dacă asigură condiții bune de vizionare și audiție a filmelor. Acestea pot fi săli ale caselor de cultură, săli de festivități ale școlilor, cluburilor sindicale, săli de laborator ale școlilor, căminelor culturale și ale asemenea incinte.
                    
                    
                    Cinematograf multisăli din Neckarsulm, Germania
                    Capacitatea sălilor poate fi de la 50 la 2000 de locuri, în funcție de cerințele locației unde sunt amplasate și din considerațiuni economice. După anii 1970, datorită dezvoltării televiziunii prin cablul, s-a trecut la o nouă redefinire a sălii de cinema, datorită scăderii numărului de spectatori. S-a mers pe construirea de multisăli, care oferă avantajul că publicul poate opta pentru vizionarea la alegere o unui gen film din cele 3 -6 propuse (film de artă, film de ficțiune,etc). Sălile componente sunt de 50 - 400 locuri, în număr de 3 - 10, în funcție de locație. De asemenea, numărul de personal de deservire nu crește, realizându-se și componenta economică. Se poate menționa faptul că în acea perioadă în Franța, au apărut cea ce s-a numit cinematograful familial, sală de 50 - 100 locuri deservită de membrii unei familii. Datorită acestei "crize" și neadaptabilității la noile condiții de piață, în aceea perioadă în fosta Germanie Federală s-au închis multe săli. Construirea de multisăli s-a făcut și prin modificare sălilor mari, spațiul sălii fiind împarțit în 2-5 minisăli.
                    
                    S-a pus problema dacă cinefilul în condițiile dezvoltării televiziunii prin cablu va prefera ultima variantă. Însă s-a constatat că acest lucru poate fi contracarat cu niște îmbunătățiri ale spectacolului de cinema, profitând și de nevoia omului de a comunica cu semenii lui și în timpul liber și în special cel de la sfârșitul de săptămână. Așa s-a dezvoltat redarea sunetului în sistem Dolby, remenajearea ambientului cu fotolii comode ergonomice, climatul sălii asigurat cu aer condiționat, condițiile de vizibilitate îmbunătățite prin reamplasarea fotoliilor. Cinematograful s-a mutat din marile bulevarde aproape de marile supermarkete sau chiar în ele (exemplul Moll-ului), aceasta cu scopul de a ieși în întâmpinarea potențialului spectator, care după efectuarea cumpărăturilor optează pentru o destindere altfel decât cea domestică. Mai profită și de faptul că se mai întâlnește cu un alt ins care-i împărtășește gustul estetic</p>
                <img src="resurse/imagini/popcorn.jpg" width=400px>
            </section>
        </main>

        <%- include("../fragmente/footer") %>

</body>

</html>