<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="description" content="Pagina cu filmele care ruleaza in cinematografele noastre.">
    <meta name="keywords" content="Filme, bilete, preturi, promotii">
    <title>Cinematograful SiNehMah - Filme</title>
    <%- include("../fragmente/head") %>



</head>

<body>
    <%- include("../fragmente/header") %>


        <main>
            <section>
                <h2>Filme</h2>
                ...dada
            </section>
        </main>

        <%- include("../fragmente/footer") %>

</body>

</html>