<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="description" content="Pagina cu galeria statica.">
    <meta name="keywords" content="Filme, imagini">
    <title>Cinematograful SiNehMah - Galerie statica</title>
    <%- include("../fragmente/head") %>



</head>

<body>
    <%- include("../fragmente/header") %>


        <main>
            <%- include("../fragmente/galerie_statica_frag") %>
        </main>

        <%- include("../fragmente/footer") %>

</body>

</html>