<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="description" content="Pagina cu galeria statica.">
    <meta name="keywords" content="Filme, imagini">
    <title>Cinematograful SiNehMah - Galerie animata</title>
    <%- include("../fragmente/head") %>



</head>

<body>
    <%- include("../fragmente/header") %>


            <%- include("../fragmente/galerie_animata_frag") %>


        <%- include("../fragmente/footer") %>

</body>

</html>