<footer>
    <a href="#" title="hai sus" id="link-top">
        <div id="triunghi">&#5123;</div>
    </a>
    <address>
        Site facut de <a href="https://www.instagram.com/dawidbarbu/" target="_blank">Barbu David</a>.
        Telefon: <a href="tel:+4733378901">+47 333 78 901</a>
        Email: <a href="mailto:qwerty@qwerty.com">qwerty@qwerty.com</a>
        Viilor 377, Bucuresti
        RO
    </address>


    <p>Pagina creata la <time datetime="2021-03-06 21:43">6 Martie 2021</time>.</p>
    &copy; Copyright 2021 CineMa

    <div class="banner">
        <div class="text_banner">Atentie! Acesta este un proiect scolar realizat de studentul Barbu David! (<a
                href="https://www.instagram.com/dawidbarbu/" target="_blank">@dawidbarbu</a> pe instagram)</div>
    </div>
</footer>