<header>
    <h1><i class="fas fa-ticket-alt fa-spin"></i> Cinematograful <span>SiNehMah</span></h1>
</header>
<nav>
    <label id="hamburger" for="ch-menu">
        <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li>
            <div><a class="meniu_acasa" href="/index"><i class="fa fa-home"></i> Acasa</a></div>
            <ul>
                <li><a href="#welcome">Bun venit!</a></li>
                <li><a href="#recomandare">Recomandarile saptamanii</a></li>
                <li><a href="#oferta">Oferte</a></li>
                <li><a href="/filme">Filme</a></li>
                <li><a href="/galerie_statica">Galerie statica</a></li>
                <li><a href="/galerie_animata">Galerie animata</a></li>
            </ul>
        </li>
        <li class="fix"><a href="/orar">Orar cinematograf</a></li>
        <li class="fix"><a href="/stiri">Stiri</a></li>
        <li>
            <div><a href="/conectare">Conectare</a></div>
            <ul>
                <li><a href="conectare">Logare</a></li>
                <li><a href="conectare">Inregistrare</a></li>
            </ul>
        </li>
        <li class="fix">
            <div><a href="/despre_noi">Despre noi</a></div>
        </li>
    </ul>
</nav>